<div class="row">
  <div class="column">
    <div style="text-align:center">
      <h1>
        Registration Form
      </h1>
    </div>
    <mat-card>
      <form (ngSubmit)="onSubmit()">
        <ng-container [group]="form" *ngIf="config.userName" appDynamicField [field]="config.userName">
        </ng-container>
        <ng-container [group]=" form" *ngIf="config.email " appDynamicField [field]="config.email">
        </ng-container>
        <ng-container [group]=" form" *ngIf="config.password" appDynamicField [field]="config.password">
        </ng-container>
        <ng-container [group]=" form" *ngIf="config.gender" appDynamicField [field]="config.gender">
        </ng-container>
        <ng-container [group]=" form" *ngIf="config.dateOfBirth" appDynamicField [field]="config.dateOfBirth">
        </ng-container>
        <ng-container [group]=" form" *ngIf="config.country" appDynamicField [field]="config.country">
        </ng-container>
        <ng-container [group]=" form" *ngIf="config.terms" appDynamicField [field]="config.terms">
        </ng-container>
        <ng-container [group]=" form" *ngIf="config.file" appDynamicField [field]="config.file">
        </ng-container>
        <br>
        <p *ngIf="filename">{{filename}} </p>
        <ng-container [group]=" form" *ngIf="config.button" appDynamicField [field]="config.button">
        </ng-container>
      </form>
    </mat-card>
  </div>

  <div class="column">
    <table mat-table>
      <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Country</th>
        <th>Accept Terms</th>
        <th>Upload File</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of data;  let i = index">
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.password}}</td>
        <td>{{ item.gender }}</td>
        <td>{{item.dob}}</td>
        <td>{{item.country}}</td>
        <td>{{item.term}}</td>
        <td>{{item.file}}</td>
        <td>
          <button type="button" mat-button (click)="editFieldValue(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button type="button" mat-button (click)="deleteFieldValue(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>